<head>
    <% include head.ejs %>
</head>

<body>

    <div class="body-section section" id="0">

        <% include header.ejs %>

        <h1 class="page-title">TOP SELLERS</h1>
        <div class="products">
            <% for (let i=0;i<top.length;i++) { %>
            <!-- <a href="/top-sellers"> -->
            <div class="products__card card-<% i %>">
                <div class="products__card__img-cont">
                    <img src="<%= top[i].photo %>" alt="" class="card-img">
                </div>
                <div class="products__card__details">
                    <h4 class="products__card__details__title">
                        <%= top[i].title %>
                    </h4>
                    <p class="products__card__details__disc">
                        <%= top[i].discreption %>
                    </p>
                </div>
                <div class="products__card__btn">
                    <p class="products__card__btn__price">$
                        <%= top[i].price %>
                    </p>
                    <!-- <form method="" action="" onclick="addItem(/cart/add/<%= top[i].id %></form>)" class="add-to-cart-cont">
                    <input type="submit" value="add to cart" onclick="addItem(/cart/add/<%= top[i].id %></form>)" class="add-btn">                   
                </form> -->
                    <a href="" class="add-btn" data-id="<%= top[i].id %>">add to cart</a>
                </div>
                <div class="flash-success">
                    <p class="flash-s-msg">Item added to cart</p>
                </div>
            </div>
            <!-- </a> -->
            <% } %>
        </div>
    </div>

    <% include footer.ejs %>
    <script type="module" src="/index.js"></script>

</body>

</html>