<% include header.ejs %> 
<h1 class="page-title">TOP SELLERS</h1>        
<div class="product-cards-cont">
    <% for (let i=0;i<top.length;i++) { %>
        <!-- <a href="/top-sellers"> -->
        <div class="product-card card-<% i %>">
            <div class="product-img-cont">
                <img src="<%= top[i].photo %>" alt="" class="product-img">
            </div>    
            <div class="product-details">
                <h4 class="prod-title"><%= top[i].title %></h3>
                <p class="product-disc"><%= top[i].discreption %></p>
            </div>
            <div class="product-price-btn">
                <p class="product-price">$ <%= top[i].price %></p>
                <!-- <form method="" action="" onclick="addItem(/cart/add/<%= top[i].id %></form>)" class="add-to-cart-cont">
                    <input type="submit" value="add to cart" onclick="addItem(/cart/add/<%= top[i].id %></form>)" class="add-btn">                   
                </form> -->
                <a href="" class="add-btn" data-id="<%= top[i].id %>">add to cart</a>
            </div>
            <div class="flash-success">
                <p class="flash-s-msg">Item added to cart</p>
            </div>
        </div>
        <!-- </a> -->
    <% } %>    
</div>

<% include footer.ejs %>