<head>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="/styles/css/login.css" href="style.css">
</head>
<div class="body-section section" id="0">
    <% include ../partials/header.ejs %>

    <div class="cart-container">
        <div class="cart-wrapper">

            <div class="cart-note cart-section">
                <p>Please make sure the items in your cart are correct</p>
            </div>

            <div class="cart-list-cont cart-section">
                <ul class="cart-list">
                    <% if (locals.user && locals.user.cart.items.length > 0) {%>
                    <% for (let i=0;i<locals.user.cart.items.length;i++) { %>
                    <li class="cart-item" data-idMain="<%= locals.user.cart.items[i].id %>">
                        <img src="../<%= locals.user.cart.items[i].img %>" style="height:80px; width:80px" alt="">
                        <div class="cart-item-details">

                            <div class="cart-main">
                                <h3 class="cart-item-title">
                                    <%= locals.user.cart.items[i].title %>
                                </h3>
                                <i class="fa fa-times-circle" aria-hidden="true" id="x" data-id="<%= locals.user.cart.items[i].id %>"></i>
                            </div>

                            <div class="cart-variables">
                                <div class="qty-dropdown">
                                    <span>Qty: </span>
                                    <select data-qty="<%= locals.user.cart.items[i].total %>" name="Qty" id="<%= locals.user.cart.items[i].id %>"
                                        class="cart-item-var">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                    </select>
                                </div>


                                <var class="cart-item-var">Price: $<span class="price">
                                        <%= locals.user.cart.items[i].price %></span></var>
                            </div>
                        </div>
                    </li>
                    <% } %>
                </ul>
                <% } %>

            </div>

            <div class="totals-cont cart-section">
                <div class="total-item">
                    <span>Tax: </span>
                    <var class="total-item">$0.00</var>
                </div>
                <div class="total-item">
                    <span>Total Price: </span>
                    <var class="total-item"><span class="price">
                            $
                            <% if (locals.user) { %>
                            <%= locals.user.cart.totalPrice %>
                            <% } %>
                        </span></var>
                </div>

                <a href="/cart/checkout" class="checkout-btn">Proceed to Checkout</a>
            </div>

        </div>
    </div>

    <script src="../cart/cart.js"></script>
</div>
<% include ../partials/footer.ejs %>
</body>

</html>